DATABASE_URL=postgresql://user:password@localhost:5434/nexus
REDIS_URL=redis://localhost:6379
GROQ_API_KEY=tu_groq_api_key
MCP_SERVER_URL=http://localhost:8001/mcp
MCP_API_KEY=una_clave_secreta_para_tu_servidor_mcp
GITHUB_TOKEN=tu_personal_access_token_de_github
ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000

ROUTER_MODEL=openai/gpt-oss-20b
SPECIALIST_MODEL=openai/gpt-oss-120b